name: oauth2-proxy
version: 10.0.0
apiVersion: v2
appVersion: 7.13.0
home: https://oauth2-proxy.github.io/oauth2-proxy/
description: A reverse proxy that provides authentication with Google, Github or other providers
keywords:
  - kubernetes
  - oauth
  - oauth2
  - authentication
  - google
  - github
  - redis
dependencies:
  - name: redis-ha
    version: 4.35.5
    repository: https://dandydeveloper.github.io/charts
    condition: redis-ha.enabled
sources:
  - https://github.com/oauth2-proxy/oauth2-proxy
  - https://github.com/oauth2-proxy/manifests
maintainers:
  - name: pierluigilenoci
    email: pierluigi.lenoci@gmail.com
  - name: tuunit
    email: jan@larwig.com
  - name: JoelSpeed
    email: joel.speed@hotmail.co.uk
kubeVersion: ">=1.16.0-0"
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: Breaking change: Separate image.repository into (image.registry / image.repository) and support .global.imageRegistry
      links:
        - name: Github PR
          url: https://github.com/oauth2-proxy/manifests/pull/367
    - kind: changed
      description: Breaking change: Removed alias for the Redis HA subchart dependency (use redis-ha path to configure redis)
      links:
        - name: Github PR
          url: https://github.com/oauth2-proxy/manifests/pull/378
